### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/active-tab-highlighter.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idta/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/target/**/**
/target/classes/auction/domain/Auctioneer.class
/target/classes/auction/domain/AuctionResult.class
/target/classes/auction/domain/AuctionSession.class
/target/classes/auction/domain/AuctionStatus.class
/target/classes/auction/domain/Bid.class
/target/classes/auction/domain/Bidder.class
/target/classes/auction/domain/BigMamaManager.class
/target/classes/auction/domain/Consignor.class
/target/classes/auction/domain/Lot.class
/target/classes/auction/domain/LotStatus.class
/target/classes/auction/domain/User.class
/target/classes/auction/domain/UserType.class
/target/classes/auction/presentation/EndUserApp$1.class
/target/classes/auction/presentation/EndUserApp$2.class
/target/classes/auction/presentation/EndUserApp.class
/target/classes/auction/usecases/AuctionSessionService.class
/target/classes/auction/usecases/BiddingService.class
/target/classes/auction/usecases/LobbyServices.class
/target/classes/auction/usecases/NotificationService.class
/target/classes/auction/usecases/UserService.class
/target/classes/Main.class
